In [13]:
### Data Strucutres

lst=[1,2,3,"KRish"]
dict1={"Name":"Krish","Age":20}
tuple=("India","England")
print(lst)
print(dict1)
print(tuple)

[1, 2, 3, 'KRish']
{'Name': 'Krish', 'Age': 20}
('India', 'England')

In [14]:
lst=[1,2,3,"KRish"]
dict1={"Name":"Krish","Age":20}
tuple=("India","England")
print(type(lst))
print(type(dict1))
print(type(tuple))

<class 'list'>
<class 'dict'>
<class 'tuple'>

In [15]:
lst=[1,2,3,"KRish"]
lst.append("Sunny")
print(lst)

[1, 2, 3, 'KRish', 'Sunny']

In [16]:
fruits=["oranges","apple","Watermelon","Oranges"]
print(fruits[1])
print(fruits[1:3])

apple
['apple', 'Watermelon']

In [17]:
fruits[2]="Banana"
fruits.insert(1,"Strawberries")
print(fruits)

['oranges', 'Strawberries', 'apple', 'Banana', 'Oranges']

In [18]:
fruits.append("Banana")
fruits.count("Banana")
print(fruits)
print(fruits.count)

['oranges', 'Strawberries', 'apple', 'Banana', 'Oranges', 'Banana']
<built-in method count of list object at 0x000001FCFDFDB1C0>

In [19]:
fruits.sort()
print(fruits)

['Banana', 'Banana', 'Oranges', 'Strawberries', 'apple', 'oranges']

In [20]:
fruits.reverse()
print(fruits)

['oranges', 'apple', 'Strawberries', 'Oranges', 'Banana', 'Banana']

In [21]:
print(fruits[::-1])
print(fruits[2:4:2])
print(fruits[1:5])

['Banana', 'Banana', 'Oranges', 'Strawberries', 'apple', 'oranges']
['Strawberries']
['apple', 'Strawberries', 'Oranges', 'Banana']

In [22]:
fruits.pop()
popperd_item=fruits.pop
print(popperd_item)

<built-in method pop of list object at 0x000001FCFDFDB1C0>

In [23]:
## Iteration
a=([x**2 for x in range(10)])
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
lst1=[1,2,3,4]
lst2=["Apple","Banana"]
pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'Apple'], [1, 'Banana'], [2, 'Apple'], [2, 'Banana'], [3, 'Apple'], [3, 'Banana'], [4, 'Apple'], [4, 'Banana']]

In [25]:
length=[len(word) for word in lst2]
print(length)

[5, 6]

In [26]:
### Examples 
## Organizing a Report Card
grades=[88,92,95,97,92]
grades.append(88)
average_grade=sum(grades)/len(grades)
print("average marks:",average_grade)
max_marks=max(grades)
min_marks=min(grades)
print("Max marks:",max_marks)
print("Min marks:",min_marks)

average marks: 92.0
Max marks: 97
Min marks: 88

In [27]:
### Feedback reporterz
feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

# Adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Printing all feedback
print("User Feedback:")
for comment in feedback:
    print(f"- {comment}")

Positive Feedback Count: 2
User Feedback:
- Great service!
- Very satisfied
- Could be better
- Excellent experience
- Not happy with the service

In [28]:
### tuples

tup=("Krish",7.62,33,"Ram")
print(tup*3)

('Krish', 7.62, 33, 'Ram', 'Krish', 7.62, 33, 'Ram', 'Krish', 7.62, 33, 'Ram')

In [29]:
tup[2]="ABc"
print(tup)
## Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup1=(("Krish",12,55),("raj",1.21,44),("Ram",281))
print(tup1[0])
print(tup1[0][2])

('Krish', 12, 55)
55

In [ ]:
dic={"Name":"raj","age":21}
print(dic.values())
print(dic.items())
print(dic.keys())

dict_values(['raj', 21])
dict_items([('Name', 'raj'), ('age', 21)])
dict_keys(['Name', 'age'])

In [ ]:
dic["Name"]="AYush"
print(dic)

{'Name': 'AYush', 'age': 21}

In [ ]:
student=dic
dic["age"]=22
print(dic)
print(student)

{'Name': 'AYush', 'age': 22}
{'Name': 'AYush', 'age': 22}

In [ ]:
student1=dic.copy()
dic["age"]=27
print(dic)
print(student1)

{'Name': 'AYush', 'age': 27}
{'Name': 'AYush', 'age': 22}

In [ ]:
squares={x:x**2 for x in range(5)
         if x%2==0}
print(squares)

{0: 0, 2: 4, 4: 16}

In [ ]:
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
dic["Name"]="AYush"
print(dic)

{'Name': 'AYush', 'age': 21}