In [1]:
a=20
print(a)

20

In [2]:
Height=188
print(Height,"cms")

188 cms

In [3]:
## Inventory Manager
Product_Name=input("Product_Name")
Product_Quantity=input("Product_Quantity")
Product_Price=input("Product_Price")
print(Product_Name,Product_Quantity,Product_Price)
print(type(Product_Name))

 12 12
<class 'str'>

In [4]:
## Basic Calculator
a=float(input("Enter the First number"))
b=float(input("Enter the Second number"))

Sum= a + b
Diff= a - b
Product= a * b
Division= a / b

print("Sum",Sum)
print("Diff",Diff)
print("Product",Product)
print("Division",Division)

ValueError: could not convert string to float: ''